<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="text-info" color="#00bcd4">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-avatar">
    <img src="assets/temp-foto-perfil-pes-1.jpg">
  </div>
  <ion-card id="card-principal" class="card-new card-white">
    <ion-card-content>
      <span id="spn-nome">Leandro F. da Silva</span>
      <span id="spn-email">nixlovemi@gmail.com</span>
      <p>Cliente, participante do grupo Grupo VML1 no período de 10/08/2019 a 10/10/2019.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-new card-white">
    <ion-card-header>
      <div class="title">
        Medidas Iniciais
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-item>
        <ion-label position="stacked">Data</ion-label>
        <ion-input disabled="true" value="12/08/2019"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Altura</ion-label>
        <ion-input disabled="true" value="178cm"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Peso</ion-label>
        <ion-input disabled="true" value="82,000kg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Peso (Objetivo)</ion-label>
        <ion-input disabled="true" value="76,000kg"></ion-input>
      </ion-item>
      <ion-item>
        <ion-label position="stacked">Diferença</ion-label>
        <ion-input disabled="true" value="6,000kg"></ion-input>
      </ion-item>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-new card-white">
    <ion-card-header>
      <div class="title">
        Acompanhamento
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="grid-table">
        <ion-row class="row-title">
          <ion-col size="6">
            Data
          </ion-col>
          <ion-col size="6">
            Peso
          </ion-col>
        </ion-row>

        <ion-row>
          <ion-col size="6">
            13/08/2019
          </ion-col>
          <ion-col size="6">
            81,500KG
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            14/08/2019
          </ion-col>
          <ion-col size="6">
            81,100KG
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            15/08/2019
          </ion-col>
          <ion-col size="6">
            79,100KG
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="6">
            20/08/2019
          </ion-col>
          <ion-col size="6">
            78,050KG
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-new card-white">
    <ion-card-content>
      <canvas #progressaoMedidas></canvas>
      <br />
      <h2>Progressão das Medidas</h2>
      <p class="text-info">Você está com 97,373% do objetivo concluído.</p>

      <span class="hr-linha"></span>

      <p><b>IMC:</b> 24,63 - Peso Normal</p>
      <p><b>Água/dia:</b> 2,73L</p>
    </ion-card-content>
  </ion-card>
</ion-content>
