<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start" class="text-info" color="#00bcd4">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="card-avatar">
    <img [src]="fotoLogado" (click)="asAlteraFoto()">
  </div>
  <ion-card id="card-principal" class="card-new card-white">
    <ion-card-content>
      <span id="spn-nome">{{nomeLogado}}</span>
      <span id="spn-email">{{emailLogado}}</span>
      <p>Cliente, participante do grupo <b>{{nomeGrupoLogado}}</b> no período de {{dtIniGrupoLogado}} a {{dtFimGrupoLogado}}.</p>
    </ion-card-content>
  </ion-card>

  <ion-card class="card-new card-white">
    <ion-card-header>
      <div class="title">
        Medidas Iniciais
      </div>
    </ion-card-header>

    <ion-card-content>
      <div *ngIf="showLctoInicial">
        <p style="margin-top:10px; text-align: center;">As medidas iniciais não foram lançadas.</p>
        <div style="text-align: center;">
          <ion-button (click)="lancarMedida(true)" class="buttom-blue center-item">
            Lançar agora
          </ion-button>
        </div>
      </div>

      <div *ngIf="!showLctoInicial">
        <ion-item>
          <ion-label position="stacked">Data</ion-label>
          <ion-input disabled="true" [value]="vInfoInicial.data"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Altura</ion-label>
          <ion-input disabled="true" [value]="vInfoInicial.altura"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Peso KG</ion-label>
          <ion-input disabled="true" [value]="vInfoInicial.peso | number:'1.3-3':'pt'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Peso KG (Objetivo)</ion-label>
          <ion-input disabled="true" [value]="vInfoInicial.peso_obj | number:'1.3-3':'pt'"></ion-input>
        </ion-item>
        <ion-item>
          <ion-label position="stacked">Diferença KG</ion-label>
          <ion-input disabled="true" [value]="vInfoInicial.peso_dif | number:'1.3-3':'pt'"></ion-input>
        </ion-item>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card *ngIf="vLoopMedidas.length > 0" class="card-new card-white">
    <ion-card-header>
      <div class="title">
        Acompanhamento
      </div>
    </ion-card-header>

    <ion-card-content>
      <ion-grid class="grid-table">
        <ion-row class="row-title">
          <ion-col size="6">
            Data
          </ion-col>
          <ion-col size="6">
            Peso (KG)
          </ion-col>
        </ion-row>

        <ion-row *ngFor="let m of vLoopMedidas">
          <ion-col size="6">
            {{m.data}}
          </ion-col>
          <ion-col size="6">
            {{m.peso | number:'1.3-3':'pt'}}
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

  <ion-card [ngClass]="vInfoInicial.peso_obj > 0 ? 'ion-show': 'ion-hide'" class="card-new card-white">
    <ion-card-content>
      <ion-button *ngIf="vInfoInicial.peso_obj > 0" (click)="lancarMedida(false)" size="small" class="buttom-blue">Lançar Medida</ion-button>
      <!-- nao pode user ngIf com o chart.js -->
      <div [ngClass]="vLoopMedidas.length > 0 ? 'ion-show': 'ion-hide'"><canvas #progressaoMedidas></canvas></div>
      <br *ngIf="vLoopMedidas.length > 0" />
      <h2>Progressão das Medidas</h2>
      <p class="text-info">Você está com {{vInfoProgresso.percentual | number:'1.3-3':'pt'}}% do objetivo concluído. Faltam apenas {{vInfoProgresso.peso_falta | number:'1.3-3':'pt'}}KG</p>

      <span class="hr-linha"></span>

      <p><b>IMC:</b> {{vInfoImc.imc | number:'1.2-2':'pt'}} - {{vInfoImc.resultado}}</p>
      <p><b>Água/dia:</b> {{vCalcAgua | number:'1.2-2':'pt'}}L</p>
    </ion-card-content>
  </ion-card>
</ion-content>
