<div id="bg-login">
  <form>
    <ion-grid>
    	<ion-row justify-content-center>
    		<ion-col align-self-center size-md="6" size-lg="5" size-xs="12">
          <img id="img-login" src="../../assets/vc_mais_leve_negativo.png" />

    			<div padding>
            <ion-item class="inpt-transp">
              <ion-input [(ngModel)]="frmLogin.usuario" tabindex="1" type="email" placeholder="Usuário" name="usuario" type="text" required></ion-input>
            </ion-item>

            <ion-item class="inpt-transp">
              <ion-input [(ngModel)]="frmLogin.senha" tabindex="2" placeholder="Senha" name="senha" type="password" required></ion-input>
            </ion-item>
    			</div>

          <div text-center>
            <!-- routerLink="/home" routerDirection="root" -->
            <ion-button (click)="executaLogin()" class="buttom-blue">
              Entrar
            </ion-button>
          </div>
    		</ion-col>
    	</ion-row>
    </ion-grid>
  </form>
</div>
