.welcome-card img {
  max-height: 35vh;
  overflow: hidden;
}
#lbl_publico{
  position: relative;
  top: -13px;
}
.comments .dv-img{
  width: 28px;
  margin-right: 2px;
  display: inline-block;
  vertical-align: top;
}
.comments .dv-frente-img{
  width: calc(100% - 30px);
  display: inline-block;
}
.card-postagens .icone-privado{
  position: relative;
  top: 2px;
}
.card-postagens .botao-mais-opcao{
  padding:0;
  margin:0;
  --color:#00bcd4;
}
.card-postagens .icone-favorito{
  position: relative;
  top: 2px;
}
.card-postagens .icone-avaliacao{
  position: relative;
  top: 2px;
}
#lbl_publico{
  font-size: 12px;
}
.card-postagens .image-container {
  min-height: 200px;
  background-size: cover;
}
.card-postagens .imagem-galeria, .card-postagens .embed-container, .card-postagens .videos-container, .card-postagens .audio-container{
  margin-bottom: 15px;
}
.card-postagens .imagem-galeria .image-container{
  cursor: pointer;
  position: relative;
}
.card-postagens .imagem-galeria .image-container .texto-mais-img{
  width: 100%;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: #000;
  color: #FFF;
  opacity: 0.8;
  position: absolute;
  bottom: 0;
  font-size: 11px;
  text-align: center;
}
.card-postagens .arquivos-container{
  border-top: solid 1px #ccc;
  padding: 5px 0px 8px 0;
}
.card-postagens .arquivos-container ul{
  padding: 0;
  margin: 0;
}
.card-postagens .arquivos-container ul li{
  list-style: none;
  display: inline-block;
  margin-right: 8px;
}
.card-postagens .arquivos-container ul li:last-child{
  margin-right: 0;
}
.card-postagens .arquivos-container ul li a{
  background-color: transparent;
  color: #00bcd4;
  box-shadow: none;
  border: solid 1px;
  border-radius: 0.2rem;
  padding: 3px 6px;
  font-size: 12px;
  text-decoration: none;
}
