ion-menu-toggle .profile-photo-small{
  width: 30px;
  float: left;
  position: relative;
  top: 8px;
  margin-left: 14px;
  margin-right: 10px;
}
ion-menu-toggle .item-avatar{
  --padding-start: 7px; /*no web fica torno mas no app fica ok */
  /*float: left;*/
}
.dv-holder-img-menu{
  margin-top: 60px;
  margin-bottom: 14px;
}
.dv-holder-img-menu .nome_logado{
  color: #999;
  text-align: center;
  margin: 5px 0;
  font-size: 14px;
}
