<ion-app>
  <ion-split-pane>
    <ion-menu type="overlay">
      <ion-header>
        <ion-toolbar>
          <ion-title>Menu</ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <div class="item item-avatar dv-holder-img-menu">
          <div class="card-avatar">
            <img (click)="abrePerfil()" routerLink="/pg-perfil" routerDirection="root" [src]="infoUsuario.foto">
          </div>
          <p class="nome_logado">{{infoUsuario.nome}}</p>
          <p class="nome_logado">{{infoUsuario.email}}</p>
        </div>

        <ion-list>
          <ion-menu-toggle auto-hide="false">
            <div *ngFor="let p of appPages">
              <img *ngIf="p.img!=''" [src]="p.img" alt="Circle Image" class="profile-photo-small rounded-circle img-fluid img-comment">
              <ion-item [ngClass]="{'item-avatar' : p.img!=''}" [routerDirection]="'root'" [routerLink]="[p.url]">
                <ion-icon *ngIf="p.img==''" slot="start" [src]="p.icon"></ion-icon>
                <ion-label>
                  {{p.title}}
                </ion-label>
              </ion-item>
            </div>

            <ion-item (click)="logout()">
              <ion-icon slot="start" src="assets/exit_to_app.svg"></ion-icon>
              <ion-label>
                Sair
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>
